<%= flash[:notice] %>

<body class="home">

<div class="wrapper">
	<div id="stretch_header">
		<div id="header_holder">
			<a href="/" id="masthead">
			<div class="logo">
				<img alt="Trunk Club - Men’s Outfitters" src="https://www.trunkclub.com/assets/common/tc_logo_pixelhint-50c9a49ea6c3e0ac0e52a370b2191b47.png">
			</div>
			</a>
		</div>
	</div>

	<div class="container" id="hero">
		<div class="row">
			<div class="copy onecol">
				<h1>
					Apply to the Trunk Club Affiliate Program
				</h1>
			</div>
		</div>
	</div>

	<div class="ourclothes container">
		<div class="row">
			<div class="sixcol">
				<img class="mobile_hidden" src="https://trunkclub-assets.s3.amazonaws.com/site-assets/gifts/gift_card.jpg">
			</div>
		<div class="sixcol last">
			<h3>
				Earning Money has never been better looking.
			</h3>
			<p>
				Trunk Club just launched its affiliate program and we are looking for some amazing people and websites to partner with. Join a highly rewarding prgram today.
			</p>
			<a class="button action signup_button" href="/affiliates/new">
				Ready to Start?
			</a>
			<div class="signin">
				Already an Affiliate Member? 
				<a class="signin" href="/">Signin »</a>
			</div>
	</div>
