<%= flash[:notice] %>

<body class="home">
	<div class="wrapper">
		<div class="container" id="hero">
			<div class="row">
				<div class="copy twelvecol">
					<h1>
						Apply to the Trunk Club Affiliate Program
					</h1>
				</div>
			</div>
		</div>
	
		<div class="earnmoney container">
			<div class="row">
				<div class="sixcol">
					<img class="mobile_hidden" src="https://trunkclub-assets.s3.amazonaws.com/site-assets/gifts/gift_card.jpg">
				</div>
				<div class="sixcol last">
					<h1>
						Earning money has never been better looking.
					</h1>
					<p>
						Trunk Club just launched its affiliate program and we are 	looking for some amazing people and websites to partner with. 	Join a highly rewarding program today.
					</p>
					</br >
					<a class="button action signup_button" href="/affiliates/new">
						Ready to Start?
					</a>
					<div class="signin">
						Already an Affiliate Member? 
					<a class="signin" href="/">
						Signin »
					</a>
					</div>
				</div>
			</div>
		</div>
	
		<div class="threefeats container">
			<div class="row">
				<div class="title_top">
					<h1>
						Three Good Reasons to Join:
					</h1>
				</div>
			</div> 
			<div class="row">
				<ul>
					<li class="fourcol feat">
						<h3>
							Ton's of money
						</h3>
						<p>
							We have one of the highest paying affiliate programs in the world. You also get money from affiliate sales from people that you refer, kind of like a pyramid if you will. You won't have to work hard, this stuff sells itself.
						</p>
					</li>
					<li class="fourcol feat">
						<h3>
							Discounted clothes
						</h3>
						<p>
							In addition to the monetary rewards we will also grant you a 25% discount on anything you buy from us.
						</p>
					</li>
					<li class="fourcol feat last">
						<h3>
							Amazing Support
						</h3>
						<p>
							We will provide you with all the tools and support that you need to be successful. We have an extensive library of assets for you to use, and we will respond to your questions within one business day.
						</p>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="title_bottom">
					<h1>
						Ready to get started?
					</h1>
				</div>
				<a class="button action signup_button" href="/affiliates/new">
					Click Here
				</a>
			</div>
		</div>
	<div class="push"></div>
	</div>
</div>