<!-- <html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head> -->
    <h1>Welcome to trunkclub.com, <%= @affiliate.first_name %></h1>
    <p>
      You have successfully signed up to trunkclubaffiliates.com<br/>
    </p>
    <p>Thanks for joining and have a great day!</p>

