/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

html, body {
height: 100%;
}

body {
background-color: #f8f8f8;
text-align: left;
font: 15px/21px "Helvetica Neue",Helvetica,Arial,sans-serif;
text-rendering: optimizeLegibility;
}

body.home h1 {
padding-top: 60px;
}
body.home p {
margin-bottom: 10px;
}

h1 {
font: 42px "Open Sans",Helvetica,Arial,sans-serif;
padding-bottom: 10px !important;
font-weight: 300;
color: #333a3b;
line-height: 1.2em;
text-transform: uppercase;
}

h3 {
font: 20px "Open Sans",Helvetica,Arial,sans-serif;
font-weight: 600;
color: #333a3b;
}

a, a:active, a:visited {
color: #7297a1;
text-decoration: none;
font-weight: 500;
cursor: pointer;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -270px;
}

#stretch_header {
min-height: 96px;
background: #f8f8f8;
height: 130px;
}

#header_holder {
max-width: 1140px;
margin: auto;
position: relative;
}

#stretch_header #masthead {
	display: block;
	float: left;
	margin-top: 40px;
}

body.home #hero {
text-align: center;
background: #fff url(https://trunkclub-assets.s3.amazonaws.com/site-assets/gifts/gifts_hero_edited.jpg) no-repeat;
background-size: cover;
}

body.home #hero .row {
min-height: 485px;
}

body.home #hero .copy {
/*font: 16px/1.6 "Open Sans",Helvetica,Arial,sans-serif;*/
color: #fff;
width: 700px;
position: absolute;
top: 20%;
left: 27%;
}

body.home #hero .copy h1 {
/*margin-bottom: 0.2em;*/
padding-top: 103px;
font: 55px "Open Sans",Helvetica,Arial,sans-serif;
padding-bottom: 10px !important;
color: #fff;
line-height: 1.2em;
text-transform: uppercase;
}

body.home .earnmoney {
background: #e9eeef;
min-height: 380px;
padding-bottom: 50px;
padding-top: 60px;
}

body.home .earnmoney h3 {
font-size: 38px;
color: #2d7786;
padding-bottom: 10px !important;
padding-top: 29px;
color: #333a3b;
line-height: 1.2em
}

body.home .earnmoney p {
color: #2d7786;
font-size: 23px;
line-height: 1.2em
}

body.home .signup_button {
color: #fff;
background: #2d7786;
box-shadow: 1px 4px 4px #888;
}

button.signup_button, a.button.signup_button {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
color: #fff;
background: #2d7786;
padding: 11px 14px 11px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-weight: bold;
font-size: 19px;
}

/*not sure if I should have included these...*/
button, input[type="submit"], a.button, label.button {
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
-o-transition-timing-function: ease;
transition-timing-function: ease;
text-decoration: none;
text-transform: uppercase;
background: #2d7786;
padding: 11px 14px 11px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-weight: 700;
font-size: 13px;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
color: #fff;
border: 0px;
display: inline-block;
cursor: pointer;
color: #fff;
}

h1, h2, h3, h4, h5, p, ul, li, a {
-webkit-font-smoothing: antialiased;
}
/* end of the maybe extra's */


body.home .signin {
padding-top: 20px;
min-height: 70px;
font-size:19px;
}

.signin {
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
-o-transition-timing-function: ease;
transition-timing-function: ease;
text-decoration: none;
font-family: "Open Sans",Helvetica,Arial,sans-serif;*/
padding: 0;
color: #2d7988 !important;
/*font-weight: bold;*/
font-size: 13px;
font-style: italic;
}






.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;
}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}

	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}

	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}

	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}