<!DOCTYPE html>
<html>
<head>
  <title>Trunkclub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="assets/jquery1.4.2.js"></script>
  <script type="text/javascript" src="assets/jquery-ui-1.8.2.custom.min.js"></script>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  
  <%= csrf_meta_tags %>
</head>
<div id="stretch_header">
		<div id="header_holder">
		<a href="/" id="masthead">
			<div class="logo">
				<img alt="Trunk Club - Men’s Outfitters" src="https://www.trunkclub.com/assets/common/tc_logo_pixelhint-50c9a49ea6c3e0ac0e52a370b2191b47.png">
			</div>
		</a>
		<div class="nav_holder" data-behavior="Navigation">
			<div id="navigation">
				<ul class="headerlinks">
					<li>
					<a href="http://www.trunkclub.com" target="_blank">Trunk Club Home</a>
					</li>
					<li>
					<a href="/">Benefits</a>
					</li>
					<li>
					<a href="/">Invite</a>
					</li>
					<li>
					<a href="/">Learn More</a>
					</li>
				</ul>
				<div class="headerbuttons">
					<a href="#" class="bttn header">Login</a>
					<a class="bttn header" href="/signup">Sign Up</a>
				</div>
			</div>
		</div>
	</div>

	</div>
</div>

<body>

<%= yield %>

</body>
<div id="stretch_footer">
	<footer>
		<div class="container" id="footer_top">				
			<div class="row">
				<div class="twelvecol">
					<div class="ninecol">
						<div class="mobile_hidden">
							<img alt="Trunk Club - Men’s Outfitters" src="https://www.trunkclub.com/assets/common/logotype_TC_white-0351559462b34886b18bcff2674c6f1c.png">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="nav ninecol mobile_hidden">					
				<div class="twelvecol" id="contact_parent">
					<h4>
						Trunk Club Inc.
					</h4>
				</div>
				<div class="contact_info threecol">
					<p>
						(866) 406-2235
					<br>
					<a href="mailto:service@trunkclub.com">service@trunkclub.com</a>
					</p>
				</div>
				<div class="contact_info threecol">
				<p>
					325 W Ohio
					<br>
					Chicago, IL 60654
					<br>
				</p>
				</div>
				<div class="contact_info threecol">
					<p>
					<a href="/privacy">Privacy Policy</a>
					<a href="/terms_of_service">Terms of Service</a>
					<br>Copyright © Trunk Club 2013<br>
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>
</html>
